/* 头部和尾部 */
header, footer {
  button{
    @apply rounded-sm !important;
  }

  kbd {
    @apply rounded-[0.45rem] !important;
  }
}

/* 尾部 */
footer {
  .container {
    @apply justify-center !important;

    .flex-1 {
      display: none;
    }
  }

  a {
    display: none;
  }
}

/* 首页 */
.home-hero {
  button {
    @apply rounded-2xl;
  }
}

/* 首页卡片组 */
.home-card-group {
  @apply md:grid-cols-3;
}

/* 首页问题 */
.home-field-group {
  @apply mt-32 !important;
}

/* 侧边栏 */
aside {
  .px-3.py-2.mb-1.rounded-md.w-full {
    @apply rounded-[0.75rem];
  }
}

/* 主要内容 */
main {
  h1 {
    @apply font-bold;
  }

  h2 {
    a::before {
      content: '# ';
    }
  }

  nav {
    @apply mb-9 !important;

    a:not(.text-foreground) {
      cursor: default;
    }
  }

  code {
    span[style="--shiki-default:#24292E;--shiki-dark:#E1E4E8"],
    span[style="--shiki-default: #24292E; --shiki-dark: #E1E4E8;"]
    {
      @apply text-[#394148] !important;
    }

    span[style="--shiki-default:#032F62;--shiki-dark:#DBEDFF"],
    span[style="--shiki-default: #032F62; --shiki-dark: #DBEDFF;"]
    {
      @apply text-[#032F62] !important;
    }

    span[style="--shiki-default:#005CC5;--shiki-dark:#79B8FF"],
    span[style="--shiki-default: #005CC5; --shiki-dark: #79B8FF;"]
    {
      @apply text-[#005CC5] !important;
    }

    span[style="--shiki-default:#032F62;--shiki-dark:#9ECBFF"],
    span[style="--shiki-default: #032F62; --shiki-dark: #9ECBFF;"]
    {
      @apply text-[#032F62] !important;
    }

    span[style="--shiki-default:#22863A;--shiki-dark:#85E89D"],
    span[style="--shiki-default: #22863A; --shiki-dark: #85E89D;"]
    {
      @apply text-[#032F62] !important;
    }
  }

  .pt-8.mt-10.border-t {
    & > a {
      @apply basis-2/5
    }
  }
}
